<div class="row">
  <div class="col-md-2 bg-primary" style="height: 400px; padding-top: 60px;">
    <h4 class="text-center">
      Cloudy <strong>32°C</strong>
    </h4>
    <p class="text-center" style="margin-top: 50px;">
      <i class="wi wi-day-cloudy" style="font-size: 10em;"></i>
    </p>
    <p class="text-center h3">
      <i class="wi wi-day-sunny"></i>
      <i class="wi wi-day-rain"></i>
      <i class="wi wi-day-rain-mix"></i>
      <i class="wi wi-day-cloudy-windy"></i>
      <i class="wi wi-day-cloudy"></i>
    </p>
  </div>
  <div class="col-md-10">
    <div class="well">
      <highchart config="chartConfig"></highchart>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 bg-warning" style="height: 400px; padding-top: 70px;">
    <h4 class="text-center">Internal temperature</h4>
    <p class="text-center">
      <i class="wi wi-thermometer" style="font-size: 10em;"></i>
    </p>
    <h2 class="text-center">
      <strong>27°C</strong>
    </h2>
  </div>

  <div class="col-md-2 bg-danger" style="height: 400px; padding-top: 70px;">
    <h4 class="text-center">Power output</h4>
    <p class="text-center">
      <i class="fa fa-bolt" style="font-size: 10em;"></i>
    </p>
    <h2 class="text-center">
      <strong>1452W</strong>
    </h2>
  </div>

  <div class="col-md-2 bg-info" style="height: 400px; padding-top: 70px;">
    <h4 class="text-center">Humidity</h4>
    <p class="text-center">
      <i class="wi wi-sprinkles" style="font-size: 10em;"></i>
    </p>
    <h2 class="text-center">
      <strong>64%</strong>
    </h2>
  </div>

  <div class="col-md-6">
    <div class="well">
      <highchart config="chartConfig"></highchart>
    </div>
  </div>

</div>